<nav class="navbar navbar-dark bg-black">
  <a class="navbar-brand" routerLink="Home">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY3Ptg5JslKHDIX3WM2LAU_FQBc3V_ry476A&usqp=CAU" width="40" height="30" class="d-inline-block align-top" alt="">
    BJJ APP
  </a>
  <a class="navbar-brand" routerLink="Home"> Home </a>
  <a class="navbar-brand" routerLink="Student"> Student </a>
  <a class="navbar-brand" routerLink="Professor"> Professor </a>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-warning" routerLink="Log-In">Log In</button>

    <button type="button" class="btn btn-warning" routerLink="Sign-Up">Sign Up</button>
  </div>
  </nav>





